@import '../../base';

.footer {
	// height: 4rem;
	background-color: rgba($color-black, 0.8);
	color: rgba($color-white, 0.7);
	display: flex;
	justify-content: center;

	p {
		align-self: center;
		a {
			color: inherit;
			font-weight: bold;
		}
		div {
			display: inline;
			size: 1rem;
			padding: 0 0.5rem;
		}
	}
}
