@import '../../../base';

.nav {
	padding: 0 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $color-black;
	text-transform: uppercase;
	position: fixed;
	top: 0;
	width: 100%;

	&_links {
		display: flex;
		padding: 0.5rem 0.2rem;
		a {
			text-decoration: none;
			color: $color-white;
			padding: 3rem 2rem;
			&:hover {
				color: rgba($color-golden, 0.7);
			}
		}
	}

	&_links-active {
		color: $color-golden !important;
	}
}
