@import '../../../base';

.nav {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-black;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
