@import '../base';

.menu {
  margin: 0 2rem 2rem;

  //header section

  &_sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-weight: bold;

    &_mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background: #2c3e50;
      background-image: none;
    }
    &_mobile::-ms-expand {
      display: none;
    }
    &_mobile {
      // position: relative;
      width: 60%;
      margin: 2.5rem auto;
      height: 3rem;
      line-height: 3;
      background: $color-red;
      overflow: hidden;
      border-radius: 0.25em;
      outline: none;

      & select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        flex: 1;
        padding-left: 1rem;
        color: #fff;
        height: 100%;
        border: none;

        background-color: transparent;
        cursor: pointer;
      }
    }

    &-line {
      background-color: $color-red;
      height: 0.2rem;
      width: 100%;
      margin-top: 1rem;
      display: inline-block;
    }

    & div {
      text-transform: uppercase;
      margin: 1rem 1rem;

      @include respond(phone) {
        margin: 0.5rem 0.5rem;
        align-content: center;
      }
    }
  }

  //ITEms style

  &_items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
    }

    &-descr {
      color: $color-grey;
      font-size: smaller;
    }
  }
}
