@import '../base.scss';
.home {
  margin-top: -4rem;

  &_cover {
    background-image: url('../images/background-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    opacity: 2;

    @include respond(phone) {
      background-attachment: initial;
    }
  }

  &_image-box {
    display: grid;
    place-items: center;
    width: 30rem;

    img {
      width: 100%;
      @include respond(phone) {
        width: 80%;
      }
    }
  }

  // ABOUT section///////////////////
  &_about {
    margin: 2rem 4rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      margin: 1rem 2rem 0;
    }
    @include respond(giant-desktop) {
      margin: 0 5rem;
      padding: 0 10rem;
    }

    &-name-container {
      grid-column: 1/3;
      display: flex;
      align-items: center;
      flex-direction: column;

      @include respond(tab-port) {
        grid-column: 1;
      }
    }

    &-image {
      width: 100%;

      @include respond(giant-desktop) {
        width: 80%;
      }

      & img {
        width: 100%;
        height: 100%;
      }
    }

    &-text-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
    }
  }

  //Image Gallery////////////////////////////

  &_image-gallery {
    display: grid;
    margin: 2rem;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 2rem;

    @include respond(giant-desktop) {
      margin: 0 5rem;
      padding: 0 10rem;
    }

    @include respond(tab-land) {
      grid-template: 1fr 1fr / 1fr 1fr;
    }

    @include respond(phone) {
      grid-template: 1fr 1fr / 1fr;
    }
  }
  &_image-item {
    width: 100%;
    height: 30rem;
    box-shadow: 3px 3px 10px $color-black;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  ///Trusted by section

  &_lables {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 2rem 4rem;
  }
}
