@import '../../../base.scss';

.phone {
  background-color: $color-white;
  width: 5rem;
  height: 5rem;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-grey;
  color: $color-red;
  z-index: 1;
}
